<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vector.music.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.vector.music.pojo.User">
        <id column="id" property="id"/>
        <result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="gender" property="gender"/>
        <result column="phone_num" property="phoneNum"/>
        <result column="email" property="email"/>
        <result column="birth" property="birth"/>
        <result column="location" property="location"/>
        <result column="introduction" property="introduction"/>
        <result column="avator" jdbcType="VARCHAR" property="avator"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_list">id
    ,is_delete,username,password,gender,phone_num,email,birth,location,introduction,avator,create_time,update_time</sql>
    <insert id="insert" parameterType="com.vector.music.pojo.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="phoneNum != null">
                phone_num,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="birth != null">
                birth,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="introduction != null">
                introduction,
            </if>
            <if test="avator != null">
                avator,
            </if>
        </trim>
        <trim prefix=" values(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="gender != null">
                #{gender},
            </if>
            <if test="phoneNum != null">
                #{phoneNum},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="birth != null">
                #{birth},
            </if>
            <if test="location != null">
                #{location},
            </if>
            <if test="introduction != null">
                #{introduction},
            </if>
            <if test="avator != null">
                #{avator},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.vector.music.pojo.User">
        update user
        <set>
            <if test="username != null">
                username=#{username},
            </if>
            <if test="password != null">
                password=#{password},
            </if>
            <if test="gender != null">
                gender=#{gender},
            </if>
            <if test="phoneNum != null">
                phone_num=#{phoneNum},
            </if>
            <if test="email != null">
                email=#{email},
            </if>
            <if test="birth != null">
                birth=#{birth},
            </if>
            <if test="location != null">
                location = #{location},
            </if>
            <if test="introduction != null">
                introduction = #{introduction},
            </if>
            <if test="avator != null">
                avator = #{avator},
            </if>
        </set>
        where id = #{id} and 1=1
    </update>

    <update id="delete" parameterType="java.lang.Integer">
        update user
        <set>
            is_delete=1
        </set>
        where id = #{id} and 1=1
    </update>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_list"/>
        from user
        where id=#{id} and is_delete=0 and 1=1
    </select>

    <select id="allUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_list"/>
        from user where is_delete=0 and 1=1
    </select>

    <select id="verifyPassword" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        select
        count(*)
        from user
        where username = #{username} and password = #{password} and is_delete=0 and 1=1
    </select>

    <select id="getByUsername" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_list"/>
        from user
        where username = #{username} and is_delete=0 and 1=1
    </select>

    <select id="userOfName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_list"/>
        from user
        where username like #{username} and is_delete=0 and 1=1
    </select>
</mapper>
